* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

#container {
	background-color: #EBECF0;
	padding: 32px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

h1 {
	color: #222222;
}

#menu {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}

#menu li{
	width: 100%;
	text-align: center;
}

#menu a{
	display: inline-block;
	width: 100%;
	padding: 5px;
	border-radius: 8px;
	font-weight: 500;
	background: #222222;
}

#menu a:hover {
	background: #FFA319;
}

.main-recipes {
	padding: 0 200px;
	display: flex;
	flex-flow: column;
	gap: 36px;
}

.home-link{
	width: 30px;
	height: 30px;
}

.home-link:hover{
	width: 31px;
	height: 31px;
}

.nav {
	display: flex;
	align-items: center;
	padding: 5px;
}

.nav h1{
	flex-grow: 2;
}

.main-recipes h1{
	text-align: center;
}

.presentation{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.img img {
	width: 400px;
}

.information {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.ingredients,
.steps {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 16px;
}

.ingredients ul, .steps ol{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ingredients {
	background: #EBECF0;
}

.steps ol {
	padding: 0 20px;
}

.steps{
	/* background: #FFA319; */
	border: 1px solid #FFA319;
}